# All ignore rule:
# https://github.com/github/gitignore

# Windows Image cache
Thumbs.db
ehthumbs.db
Desktop.ini

# C/C++
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.la
*.lo
*.so.*
*.dylib
*.out
*.app
*.i*86
*.x86_64
*.hex
*.idb
*.pdb
*.mod*
*.cmd
/Debug/
/Release/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.__i
*.crf
*.aps
*.APS
*.ncp
*.opt
*.ib_preset
*.ib_tag
*.al
*.swp .DS_Store
.svn
*.sdf
*.dep
*.exp
*.obj
*.sbr
*.idb
*.pch
*.log
*.suo
*.bsc
*.cache
*.ncb
*.tli
*.tlh
*.tlog
*.crf
*.d
*.bin
*.lastbuildstate
*.manifest
*manifest.*
*.resources
*.unsuccessfulbuild
*.opensdf
